<div class="shadow-2xl rounded-2xl p-3">
  <h1 class="text-4xl text-center uppercase mb-10">{{ "crack info 2024" }}</h1>

  <form>
    <div class="space-y-4">
      <section>
        <div class="flex space-x-6">
          <div class="space-y-3 w-2/3">
            <div class="">
              <label
                for="nom"
                class="nc-Label cursor-pointer text-sm font-medium text-neutral-700 dark:text-neutral-800"
              >
                Nom & Prénom <span class="text-red-600">*</span>
              </label>
              <div class="mt-1">
                <input
                  id="nom"
                  name="nom"
                  type="text"
                  class="block w-full border border-neutral-200 focus:border-sky-300 focus:ring focus:ring-sky-200 focus:ring-opacity-50 bg-white dark:border-neutral-300 dark:focus:ring-sky-600 dark:focus:ring-opacity-25 rounded-2xl text-sm font-normal h-11 px-4 py-3"
                  placeholder="(ex): John Doe"
                  required
                />
              </div>
            </div>

            <div class="">
              <label
                for="email"
                class="nc-Label cursor-pointer text-sm font-medium text-neutral-700 dark:text-neutral-800"
              >
                Email <span class="text-red-600">*</span>
              </label>
              <div class="mt-1">
                <input
                  id="email"
                  name="email"
                  type="email"
                  class="block w-full border border-neutral-200 focus:border-sky-300 focus:ring focus:ring-sky-200 focus:ring-opacity-50 bg-white dark:border-neutral-300 dark:focus:ring-sky-600 dark:focus:ring-opacity-25 rounded-2xl text-sm font-normal h-11 px-4 py-3"
                  placeholder="(ex): john.doe@exemple.com"
                  required
                />
              </div>
            </div>

            <div class="">
              <label
                for="date_naissance"
                class="nc-Label cursor-pointer text-sm font-medium text-neutral-700 dark:text-neutral-800"
              >
                Date de naissance <span class="text-red-600">*</span>
              </label>
              <div class="mt-1">
                <input
                  id="date_naissance"
                  required
                  name="date_naissance"
                  type="date"
                  class="block w-full border border-neutral-200 focus:border-sky-300 focus:ring focus:ring-sky-200 focus:ring-opacity-50 bg-white dark:border-neutral-300 dark:focus:ring-sky-600 dark:focus:ring-opacity-25 rounded-2xl text-sm font-normal h-11 px-4 py-3"
                />
              </div>
            </div>

            <div class="">
              <label
                for="date_naissance"
                class="nc-Label cursor-pointer text-sm font-medium text-neutral-700 dark:text-neutral-800"
              >
                Sexe <span class="text-red-600">*</span>
              </label>
              <div class="flex space-x-10 justify-center">
                <div class="flex space-x-2" for="male">
                  <label class="mt-3 cursor-pointer" for="male">M</label>
                  <div class="">
                    <input
                      id="male"
                      name="sexe"
                      type="radio"
                      class="cursor-pointer border border-neutral-200 focus:border-sky-300 focus:ring focus:ring-sky-200 focus:ring-opacity-50 bg-white dark:border-neutral-300 dark:focus:ring-sky-600 dark:focus:ring-opacity-25 rounded-2xl h-11 px-4 py-3"
                      required
                    />
                  </div>
                </div>
                <div class="flex space-x-2">
                  <label class="mt-3 cursor-pointer" for="female">F</label>
                  <div class="">
                    <input
                      id="female"
                      name="sexe"
                      type="radio"
                      class="cursor-pointer border border-neutral-200 focus:border-sky-300 focus:ring focus:ring-sky-200 focus:ring-opacity-50 bg-white dark:border-neutral-300 dark:focus:ring-sky-600 dark:focus:ring-opacity-25 rounded-2xl h-11 px-4 py-4"
                      required
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="space-y-10 w-1/3">
            <div class="h-2/3 flex justify-center">
              <input
                #photo
                (change)="addPhoto(photo.files![0])"
                type="file"
                name="photo"
                class="hidden"
              />
              <img
                [src]="photoURL"
                alt="photo"
                title="cliquer pour ajouter une photo"
                class="w-full h-full rounded-b-full rounded-t-full cursor-pointer"
                (click)="photo.click()"
              />
            </div>
            <div class="text-center h-14">
              <label for="progress">Anglais</label>
              <div class="">
                <input type="range" name="progress" id="progress" />
              </div>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="flex space-x-5">
          <div class="space-y-3 w-2/3">
            <div class="">
              <label
                for="motivation"
                class="nc-Label cursor-pointer text-sm font-medium text-neutral-700 dark:text-neutral-800"
              >
                Motivation
              </label>
              <div class="mt-1">
                <textarea
                  name="motivation"
                  id="motivation"
                  cols="30"
                  rows="8"
                  class="block w-full border border-neutral-200 focus:border-sky-300 focus:ring focus:ring-sky-200 focus:ring-opacity-50 bg-white dark:border-neutral-300 dark:focus:ring-sky-600 dark:focus:ring-opacity-25 rounded-2xl text-sm font-normal px-4 py-3"
                ></textarea>
              </div>
            </div>
          </div>

          <div class="space-y-1 w-1/3">
            <div class="">
              <label
                for="nom"
                class="nc-Label cursor-pointer text-sm font-medium text-neutral-700 dark:text-neutral-800"
              >
                Niveau <span class="text-red-600">*</span>
              </label>
              <div class="mt-1">
                <select
                  name="niveau"
                  id="niveau"
                  class="block w-full border border-neutral-200 focus:border-sky-300 focus:ring focus:ring-sky-200 focus:ring-opacity-50 bg-white dark:border-neutral-300 dark:focus:ring-sky-600 dark:focus:ring-opacity-25 rounded-2xl text-sm font-normal h-11 px-4 py-3"
                >
                  <option value=""></option>
                  <option value="licence">Licence</option>
                  <option value="master">Master</option>
                  <option value="doctorat">Doctorat</option>
                  <option value="deut">DEUT</option>
                  <option value="bts">BTS</option>
                </select>
              </div>
            </div>

            <div class="-space-y-4 pr-3">
              <div class="flex justify-end space-x-8">
                <label class="mt-3 cursor-pointer" for="data_science"
                  >Data Science</label
                >
                <div class="">
                  <input
                    id="data_science"
                    name="data_science"
                    type="checkbox"
                    class="cursor-pointer border border-neutral-200 focus:border-sky-300 focus:ring focus:ring-sky-200 focus:ring-opacity-50 bg-white dark:border-neutral-300 dark:focus:ring-sky-600 dark:focus:ring-opacity-25 rounded-2xl h-11 px-4 py-4"
                    required
                  />
                </div>
              </div>
              <div class="flex justify-end space-x-8">
                <label class="mt-3 cursor-pointer" for="developpement"
                  >Devéloppement</label
                >
                <div class="">
                  <input
                    id="developpement"
                    name="developpement"
                    type="checkbox"
                    class="cursor-pointer border border-neutral-200 focus:border-sky-300 focus:ring focus:ring-sky-200 focus:ring-opacity-50 bg-white dark:border-neutral-300 dark:focus:ring-sky-600 dark:focus:ring-opacity-25 rounded-2xl h-11 px-4 py-4"
                    required
                  />
                </div>
              </div>
              <div class="flex justify-end space-x-8">
                <label class="mt-3 cursor-pointer" for="rit">RIT</label>
                <div class="">
                  <input
                    id="rit"
                    name="rit"
                    type="checkbox"
                    class="cursor-pointer border border-neutral-200 focus:border-sky-300 focus:ring focus:ring-sky-200 focus:ring-opacity-50 bg-white dark:border-neutral-300 dark:focus:ring-sky-600 dark:focus:ring-opacity-25 rounded-2xl h-11 px-4 py-4"
                    required
                  />
                </div>
              </div>
              <div class="flex justify-end space-x-8">
                <label class="mt-3 cursor-pointer" for="ia">IA</label>
                <div class="">
                  <input
                    id="ia"
                    name="ia"
                    type="checkbox"
                    class="cursor-pointer border border-neutral-200 focus:border-sky-300 focus:ring focus:ring-sky-200 focus:ring-opacity-50 bg-white dark:border-neutral-300 dark:focus:ring-sky-600 dark:focus:ring-opacity-25 rounded-2xl h-11 px-4 py-4"
                    required
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <div class="flex justify-around">
        <button
          type="submit"
          class="relative h-auto inline-flex items-center justify-center rounded-full transition-colors text-sm sm:text-base font-medium px-4 py-3 sm:px-6 disabled:bg-opacity-70 bg-cyan-600 hover:bg-cyan-700 text-neutral-50"
        >
          Enregistrer
        </button>
        <button
          type="reset"
          class="relative h-auto inline-flex items-center justify-center rounded-full transition-colors text-sm sm:text-base font-medium px-4 py-3 sm:px-6 border bg-white border-neutral-200 text-neutral-700 dark:bg-neutral-900 dark:text-neutral-300 dark:border-neutral-700 hover:bg-neutral-100 dark:hover:bg-neutral-800"
        >
          Annuler
        </button>
      </div>
    </div>
  </form>
</div>
